<footer class="bg-dark pt-5">
  <div class="container pb-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <h3 class="h5 text-light">{{ site.title }}</h3>
        <p class="fs-sm text-light opacity-60 mb-0">{{ site.tagline }}</p>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <h3 class="widget-title text-light">Browse</h3>
        <ul class="widget-list">
          <li class="widget-list-item"><a class="widget-list-link text-light opacity-60" href="{{ '/shop/' | relative_url }}">For sale</a></li>
          <li class="widget-list-item"><a class="widget-list-link text-light opacity-60" href="{{ '/deals/' | relative_url }}">Deals</a></li>
          <li class="widget-list-item"><a class="widget-list-link text-light opacity-60" href="{{ '/about/' | relative_url }}">About &amp; disclosure</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <h3 class="widget-title text-light">Contact</h3>
        <a class="fs-sm text-light opacity-60" href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
      </div>
    </div>
    <hr class="hr-light mb-4">
    <p class="fs-xs text-light opacity-50 mb-2">{{ site.affiliate_disclosure }}</p>
    <p class="fs-xs text-light opacity-50 mb-0">&copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </div>
</footer>
<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">
    <a class="d-table-cell handheld-toolbar-item" href="{{ '/shop/' | relative_url }}"><span class="handheld-toolbar-icon"><i class="ci-bag"></i></span><span class="handheld-toolbar-label">For sale</span></a>
    <a class="d-table-cell handheld-toolbar-item" href="{{ '/deals/' | relative_url }}"><span class="handheld-toolbar-icon"><i class="ci-discount"></i></span><span class="handheld-toolbar-label">Deals</span></a>
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a>
  </div>
</div>
<a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up"></i></a>
