{% comment %} BlogPosting for posts (layout: post / collection posts). {% endcomment %}
{%- assign bp_author = page.author | default: site.author -%}
{%- assign bp_image = page.image | default: page.images[0] | default: site.logo -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": "{{ canonical_url }}#blogposting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ canonical_url }}"
  },
  "headline": {{ page.title | jsonify }},
  "description": {{ seo_description | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {%- if page.last_modified_at %}
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  {%- else %}
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  {%- endif %}
  "author": {
    "@type": "Person",
    "name": {{ bp_author | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}/"
  }{% if bp_image and bp_image != "" %},
  "image": {{ bp_image | absolute_url | jsonify }}{% endif %}{% if page.categories and page.categories.size > 0 %},
  "articleSection": {{ page.categories | first | jsonify }}{% endif %}{% if page.tags and page.tags.size > 0 %},
  "keywords": {{ page.tags | join: ", " | jsonify }}{% endif %}
}
</script>
